video {
    position: absolute;
    top: -185;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

.home {
    position: relative;
    height: 100%;
    display: flex;
    color: var(--basecolor);
    justify-content: center;
    text-align: center;
    flex-direction: column;
    a:hover {
        color: whitesmoke;
    }
    .fixtureWrapper, .fixtureWrapper2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        iframe {
            min-height: 600px;
            min-width: 600px;
        }
    }
    .fixtureWrapper2 {
        justify-content: space-between;
    }

}

.about {
    min-height: 20vh;
}