video {
    position: absolute;
    top: -185;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

.home {
    position: relative;
    height: 100%;
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    flex-direction: column;
    background: rgb(0, 0, 0, 0.5);
    a:hover {
        color: whitesmoke;
    }
    .fixtureWrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

.about {
    min-height: 20vh;
}