:root {
    --basecolor: #4a3a27;
    --basecolor: #ffffff;
    --headerbackground: #f5deb363;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.column-container {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    &:visited {
        color: unset;
    }
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.4;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 185px auto;
    color: var(--basecolor);
    header {
        position: relative;
        background-color: var(--headerbackground);
        border-radius: 10px;
        padding: 5px 10px;
        .logo-container {
            align-items: center;
        }
        .logo {
            width: 8vw;
            min-width: 100px;
        }
        h1 {
            margin: 0px;
            font-family: 'Syncopate', sans-serif;
            font-size: calc(25px + 1vw);
            line-height: 1;
        }
        .sub {
            font-size: calc(10px + 0.8vw);
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            ul {
                display: flex;
                li {
                    font-size: 1.4em;
                    margin: 0 20px;
                    letter-spacing: 2px;
                    a {
                        color: var(--basecolor)
                    }
                }
            }
        }
    }
    main {
        position: relative;
        padding: 0 0 10px 0;
    }
    footer {
        text-align: center;
        min-height: 100px;
        background-color: var(--headerbackground);
    }
}