<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" type="image/x-icon" href="/images/gcc-logo.ico">
        <link rel="stylesheet" href="/assets/css/style.css"/> 
        
    </head>
    <body>
        {% include "partials/header.njk" %}
        <main class="{{ url }}">
            {{content | safe}}
        </main>
        {% include "partials/footer.html" %}
    </body>
</html>        