<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/assets/css/style.css"/> 
        <script type="text/javascript" src="/assets/scripts/main.js">
        </script>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="F3cUZ2Pm"></script>
    </head>
    <body>
        <video playsinline autoplay muted loop  id="bgvid">
            <source src="videos/back2.mp4" type="video/mp4">
        </video>
        <main>
            <header>
                <img class="logo" src="images/gcc.png"/>
                <div>
                    <h1>
                        Geneva Cricket Club
                    </h1>
                    <span class="sub">Home of Swiss Cricket since 1872</span>
                </div>
            </header>
            <nav>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/">Fixtures &amp; Results</a></li>
                    <li><a href="/docs/GCC-constitution-2017-en-2019-changes-by-laws.pdf" target="_blank">Constitution</a></li>
                    <li><a href="/">Executive Members</a></li>
                </ul>    
            </nav>

            <section class="about">
                <!--<div class="fb-page" data-href="https://www.facebook.com/Geneva1872/" data-tabs="timeline" data-small-header="true" data-width="800px" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Geneva1872/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Geneva1872/">Geneva Cricket Club</a></blockquote></div>-->
                <!--<div class="iframe-container">
                    <iframe width="20%" border="0" style="border:none;" 
                        src="https://www.crichq.com/plugins/base?width=auto&height=auto&border=1#clubs/160350/matches/upcoming?query=&dates.start_date=31-05-2021&competition_match_level_id=0&location=">
                    </iframe>
                </div>-->
            </section>
        </main>
        <!--{{content | safe}}-->
    </body>
</html>