---
layout: base-layout.njk
---
<link rel="stylesheet" href="/assets/css/home.css"/> 

<section>
    <h1>{{ siteSetting.label }}</h1>
    <div class="">
        {% SeasonSelector season %}
    </div>
    <div class="fixtureWrapper">
        {% FixtureFrame season, "gcc1" %}
        {% FixtureFrame season, "gcc2" %}
    </div>
    <div class="fixtureWrapper"> 
        {% FixtureFrame season, "t10" %}
        {% FixtureFrame season, "u19" %}
    </div>
    <div class="fixtureWrapper">
        <div class="gcc1">
            <h1>Geneva 1st XI Leaderboards</h1>
            <iframe loading="lazy" border="0" style="border:none;" scrolling="yes" src="https://www.crichq.com/plugins/base/teams/167276/leaderboards/batting"></iframe>
        </div>
        <div class="gcc1">
            <h1>Geneva 2nd XI Leaderboards</h1>
            <iframe loading="lazy" border="0" style="border:none;" scrolling="yes" src="https://www.crichq.com/plugins/base/teams/359559/leaderboards/batting"></iframe>
        </div>
        
    </div>
</section>