---
title: A brief historical account of the Geneva cricket club  
layout: base-layout.njk
---
<link rel="stylesheet" href="/assets/css/home.css"/> 
<!--<video playsinline autoplay muted loop  id="bgvid">
    <source src="videos/back2.mp4" type="video/mp4">
</video>-->
<section class="home">
    <h1>{{ siteSetting.label }}</h1>
    <div class="fixtureWrapper">
        <div class="ggc1">
            <h1>{{ fixtureList.year_2024.gcc1.matchList.title }}</h1>
            {% for m in fixtureList.year_2024.gcc1.matchList.matches %}
                <h4>{{ m.title }}</h4>
                <iframe loading="lazy" border="0" style="border:none;" scrolling="yes" src="{{ m.link }}"></iframe>
            {% endfor %}
        </div>
        <div class="ggc2">
            <h1>{{ fixtureList.year_2024.gcc2.matchList.title }}</h1>
            {% for m in fixtureList.year_2024.gcc2.matchList.matches %}
                <h4>{{ m.title }}</h4>
                <iframe loading="lazy" border="0" style="border:none;" scrolling="yes" src="{{ m.link }}"></iframe>
            {% endfor %}
        </div>
    </div>
    <div class="fixtureWrapper"> 
        <div class="ggcT10">
            <h1>{{ fixtureList.year_2024.t10.matchList.title }}</h1>
            {% for m in fixtureList.year_2024.t10.matchList.matches %}
                <h4>{{ m.title }}</h4>
                <iframe loading="lazy" border="0" style="border:none;" scrolling="yes" src="{{ m.link }}"></iframe>
            {% endfor %}
        </div>
        <div class="ggcu19">
            <h1>{{ fixtureList.year_2024.u19.matchList.title }}</h1>
            <p>Coming soon</p>
        </div>
    </div>
</section>