---
title: A brief historical account of the Geneva cricket club  
layout: base-layout.njk
---
<link rel="stylesheet" href="/assets/css/home.css"/> 
<!--<video playsinline autoplay muted loop  id="bgvid">
    <source src="videos/back2.mp4" type="video/mp4">
</video>-->
<section class="home">
    <h1>2024 Fixtures and Results</h1>
    <div class="fixtureWrapper">
        <div class="ggc1">
            <h1>Geneva Cricket Club 1st XI Fixtures/Results</h1>
                <iframe border="0" style="border:none;"   scrolling="yes" src="https://www.crichq.com/plugins/base?width=598&#038;height=600&#038;border=1#competitions/7784/draws/60508/standings_table">
                </iframe>
                <iframe loading="lazy" border="0" style="border:none;" src="https://www.crichq.com/plugins/base?width=598&amp;height=600&amp;border=1#competitions/7785/draws/58280/standings_table/pool/1"></iframe>
        </div>
        <div class="ggc2">
            <h1>Geneva Cricket Club 2nd XI Fixtures/Results</h1>
                <iframe border="0" style="border:none;" scrolling="yes" src="https://www.crichq.com/plugins/base?width=598&height=600&border=1#competitions/9763/draws/60619/standings_table/pool/2">
                </iframe>
                <iframe loading="lazy" border="0" style="border:none;" src="https://www.crichq.com/plugins/base?width=598&height=600&border=1#competitions/7785/draws/58338/standings_table/pool/1"></iframe>
        </div>
    </div>
    <div class="fixtureWrapper2"> 
        <div class="ggcT10">
            <h1>Geneva Cricket Club T10 Fixtures/Results</h1>
                <iframe loading="lazy" border="0" style="border:none;" src="https://www.crichq.com/plugins/base?width=598&height=600&border=1#competitions/9762/draws/60792/standings_table/pool/1"></iframe>
        </div>
        <div class="ggcu19">
            <h1>Geneva Cricket Club U19 Fixtures/Results</h1>
            <p>Coming soon</p>
        </div>
    </div>
    <!--<div class="message">
        
        <h1>We are under maintainence.</h1>
        <p>Please connect with us via our <a href="https://www.facebook.com/Geneva1872">Facebook </a> and <a href="https://www.instagram.com/genevacricketclub/">Instagram</a> page.</p>-->
    </div>
    
</section>

<!--<section class="about">
</section>-->
