<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/assets/css/style.css"/> 
        <script type="text/javascript" src="/assets/scripts/main.js">
        </script>
    </head>
    <body>
        {{content | safe}}
    </body>
</html>    