---
layout: base-layout.njk
---
<link rel="stylesheet" href="/assets/css/home.css"/> 

<section class="home">
    <h1>{{ title }}</h1>
    <div class="">
        {% SeasonSelector season %}
    </div>
    <div class="fixtureWrapper">
        {% FixtureFrame season, "gcc1" %}
        {% FixtureFrame season, "gcc2" %}
    </div>
    <div class="fixtureWrapper"> 
        {% FixtureFrame season, "t10" %}
        {% FixtureFrame season, "u19" %}
    </div>
</section>